body {
    background-color: #DEE3E7;
}

.header {
    color: black;
    font-family:Arial, Helvetica, sans-serif;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.jounalist {
    color: #F08418;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.date {
    font-weight: bold;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #F08418;
    list-style-type: none;
    display: inline-block;

}

