/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    background-color: #DEE3E7;
    margin: 0px;
}

.link {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(178, 65, 65);
    padding: 1.5rem;
    border: 2px solid black;
    /* For å fjerne punktene */
    list-style: none;
}

.technology {
    display: flex;
    font-size: 2rem;
    width: 100%;
    justify-content: space-between;
}

.signin,
.subscribe,
.aboutus {
    text-align: center;
}

.navigations {
    display: flex;
    justify-content: flex-end;
    /* moves nav buttons to the left*/
    list-style: none;
}

.secondpage {
    text-align: center;
}

.header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
}

nav {
    background-color: rgb(178, 65, 65);
    top: 0;
    width: 100%;
    min-width: 100%;
    overflow: auto;
    flex: 1; 
    font-weight: 900;
}
.button {
    list-style-type: none;
    float: right;
}

.active {
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 3%;
}

.jounalist {
    color: rgb(178, 65, 65);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-left: 3%;
}

.date {
    font-weight: bold;
    color: #5F5D5D;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.bilde {
    margin-left: 3%;
    margin-right: 3%;
}

.satellite {
    max-width: 60vw;
    height: auto;
}

.avsnitt {
    margin-left: 3%;
    margin-right: 3%;
}

.kontaktinformasjon {
    font-size: 2rem;
}

footer {
    text-align: left;
    padding: 3px;
    background-color: rgb(178, 65, 65);
    border: 2px solid black;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.copyright{
    text-align: center;
}

footer li {
    list-style-type: none;
    text-align: center;
}




/*Page 2 styling*/

.container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background: white;
}

/*Header and navigation bar*/
.header-page2 {
    flex: 1;
    font-weight: 900;
}

/*Positioning main content*/
.main-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: min-content;
}

.card {
    /*Position elements in the main content*/
    grid-column-start: 2;
    grid-column-end: 6;
}


.contributers {
    flex: 2;
    list-style-type: none;
    text-align: center;
}

.img-wave {
    max-width: 50%;
    height: auto;
}